<h1>Check in with your contact, .</h1>
<p>Before you travel at unsafe times, let [NAME] know where you're going so they can keep tabs on you for safety!</p>
<p>Click "Check in" and we will send a text to your contact letting them know where you are. When you get to your destination, click "I've arrived" to let them know you're safe.</p>

<hr>

		<div class="center">
			<%= link_to "Check in", youvecheckedin_path, class: "btn btn-success btn-lg btn-block" %>
		</div>
		<br>
		<div class="center">
			<%= link_to "Update your contact", edit_user_registration_path, class: "btn btn-default btn-lg btn-block" %>
		</div>