<h1>Resources</h1>
<p>Click to call or email.</p>
<hr>
<h3>Police contacts</h3>
<div class="list-group">
  <a href="mailto:arielskyebailey@gmail.com" class="list-group-item"><strong>Chief Justice Scalia</strong> arielskyebailey@gmail.com</a>
  <a href="tel:940-394-0595" class="list-group-item"><strong>Bruce Wayne</strong> 940-395-0595</a>
  <a href="#" class="list-group-item"><strong>Charlie Sheen</strong> (Chief investigator) 940-395-0595</a>
  <a href="#" class="list-group-item"><strong>Max B. Mills</strong> (Advocate) maxmills@gmail.com</a>
  <a href="#" class="list-group-item">Ariel Bailey</a>
</div>