<h1>Resources</h1>
<p>Tap to call, email, or open link.</p>
<hr>
<a href="tel:911">
	<div class="alert alert-danger" role="alert">
	  Is this an emergency? <strong>Dial 911</strong>
	</div>
</a>
<a href="#">
  <div class="alert alert-info" role="alert">
   <strong>File a police report.</strong>
  </div>
</a>
<h3>Police</h3>
<div class="list-group">
  <a href="tel:940-565-3000" class="list-group-item"><strong>UNT non-emergency police</strong> 940-565-3000</a>
  <a href="tel:940-349-8181" class="list-group-item"><strong>Denton non-emergency police</strong> 940-349-8181</a>
  <a href="tel:940-394-8477" class="list-group-item"><strong>UNT Crime Stoppers</strong> (anonymously report criminal activity) 940-394-8377</a>
  <a href="tel:940-565-4667" class="list-group-item"><strong>Crime victim liaison</strong> (Sgt. Chris Deaton) 940-565-4667</a>
  <a href="tel:940-369-2600" class="list-group-item"><strong>Denton Co. victim assistance</strong> (Distric Attorney's Office) 940-369-2600</a>
  <a href="tel:940-369-2600" class="list-group-item"><strong>Request a free bike registration</strong> (UNT police) 940-XXX-XXXX</a>
  <a href="#" class="list-group-item"><strong>Take me to the UNT police department.</strong> (opens map)</a>
</div>

<br>

<h3>UNT e-Ride</h3>
<p>Get a free ride anywhere on campus from 9AM - 2AM everyday. Student ID required. Vehicles will be UNT marked.</p>
<div class="list-group">
  <a href="tel:940-565-3014" class="list-group-item"><strong>Call a ride</strong> 940-565-3014 </a> 
</div>

<br>

<h3>Responding to a Sexual Assault</h3>
<a href="tel:#">
	<div class="alert alert-warning" role="alert">
	  If you have been sexually assaulted, <strong>get to a safe place immediately.</strong> Do not bathe or change clothes before seeking medical attention.
	</div>
</a>
<div class="list-group">
  <a href="http://deanofstudents.unt.edu/what_do_i_do_if_i_have_been_sexually_assaulted" class="list-group-item"><strong>What to do if you have been sexually assaulted:</strong> LINK</a>
  <a href="tel:940-382-7273" class="list-group-item"><strong>Friends of the Family crisis hotline</strong> 940-382-7273</a>
  <a href="#" class="list-group-item"><strong>Take me to the nearest SANE hospital.</strong> (for a Sexual Assault Nurse Exam) (opens map)</a>
  <a href="tel:940-565-2648" class="list-group-item"><strong>UNT Survivor Advocate</strong> (Renee LeClaire McNamara) 940-565-2648</a>
  <a href="mailto:survivoradvocate@unt.edu" class="list-group-item"><strong>UNT Survivor Advocate</strong> (Renee LeClaire McNamara) survivoradvocate@unt.edu</a>
  <a href="tel:940-565-2648" class="list-group-item"><strong>Report to UNT</strong> (Dean of Students Office) 940-565-2648</a>
  <a href="mailto:deanofstudents@unt.edu" class="list-group-item"><strong>Report to UNT</strong> (Dean of Students Office) deanofstudents@unt.edu</a>
  <a href="tel:940-565-2759" class="list-group-item"><strong>UNT Title IX Coordinator</strong> (NAME) 940-565-2759</a>
  <a href="tel:940-565-2333" class="list-group-item"><strong>UNT Health & Wellness Center</strong> 940-565-2333</a>
  <a href="tel:940-565-2333" class="list-group-item"><strong>UNT Student Legal Services</strong> 940-565-2614</a>
  <a href="http://deanofstudents.unt.edu/federal_campus_sexual_assault_victims_bill_rights" class="list-group-item"><strong>Sexual Assault Victim's Bill of Rights</strong></a>
  <a href="http://deanofstudents.unt.edu/supporting_friend_who_has_been_affected_violence" class="list-group-item"><strong>Supporting a friend who is a sexual assault survivor</strong> </a>
  <a href="https://untspeaksout.wordpress.com/" class="list-group-item"><strong>#UNTSpeaksOut</strong> untspeaksout.wordpress.com</a>
</div>

<br>

<h3>Mental Health</h3>
<a href="tel:#">
	<div class="alert alert-warning" role="alert">
	  Are you or a friend in trouble? <strong>Get help now.</strong>
	</div>
</a>
<div class="list-group">
  <a href="tel:940-565-2741" class="list-group-item"><strong>Make a counseling appointment</strong> 940-565-2741</a>
  <a href="http://studentaffairs.unt.edu/group-counseling-and-workshops" class="list-group-item"><strong>Group counseling for students</strong> </a>
  <a href="http://studentaffairs.unt.edu/care" class="list-group-item"><strong>About UNT CARE Team</strong> studentaffairs.unt.edu/care</a>
  <a href="tel:940-565-4373" class="list-group-item"><strong>Report a student to UNT CARE Team</strong> 940-565-4373</a>
  <a href="mailto:careteam@unt.edu" class="list-group-item"><strong>Report a student to UNT CARE Team</strong> careteam@unt.edu</a>
  <a href="http://studentaffairs.unt.edu/sites/default/files/pdf/care/CARE_Team_flowchart.pdf" class="list-group-item"><strong>CARE Team process flow chart</strong> (PDF)</a>
  <a href="tel:1-800-273-8255" class="list-group-item"><strong>National Suicide Prevention Lifeline</strong> 1-800-273-8255</a>
  <a href="http://hopeline.com" class="list-group-item"><strong>Suicide prevention online chat</strong> hopeline.com</a>

</div>

<br>

<h3>UNT Facilities</h3>
<div class="list-group">
  <a href="tel:940-565-3000" class="list-group-item"><strong>Work Control</strong> (report maintenance and safety issues) 940-565-2700</a>
  <a href="mailto:workcontrol@unt.edu" class="list-group-item"><strong>Work Control</strong> (report maintenance and safety issues) workcontrol@unt.edu</a>
  <a href="tel:940-369-7921" class="list-group-item"><strong>Alarm maintenance</strong> (James Lewis) 940-369-7921</a>
</div>