<h1>You've checked in!</h1>
<p>Let your contact know when you've arrived safely at your destination or need help.</p>
<p>Click the red button to call the police during an emergency.</p>

<hr>

<div class="center">
			<%= link_to "I've arrived.", root_path, class: "btn btn-success btn-lg btn-block" %>
		</div>
		<br>
		<div class="center">
			<%= link_to "I need help!", youvecheckedin_path, class: "btn btn-warning btn-lg btn-block" %>
		</div>
		<br>
		<div class="center">
			<%= link_to "EMERGENCY: Dial 911.", youvecheckedin_path, class: "btn btn-danger btn-lg btn-block" %>
		</div>
		<br>
		<div class="center">
			<%= link_to "Send a report.", resources_path, class: "btn btn-default btn-lg btn-block" %>
		</div>